<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Base Link <input type = "text" name = "Base_Link" /></p>
         <p>Years <input type = "text" name = "Years" /></p>
          <p>NB of Shares <input type = "text" name = "Number_Shares" /></p>
         <p>Real Discount Rate <input type = "text" name = "RealDiscountRate" /></p>
         <p>Average Inflation <input type ="text" name = "AverageInflation" /></p>
          <p>Nominal DiscountRate <input type ="text" name = "NominalDiscountRate" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
